:root {
    --slider_width: 30vw;
    --slider_height: 150px;
    --slider_padding: 10px;
    --ball_padding: 10px;
    --cross_thickness: calc(var(--slider_height) / 7);
}



.slider {
    width: var(--slider_width);
    height: var(--slider_height);
    display: flex;
    padding: var(--slider_padding);
    background-color: lightsalmon;
    justify-content: flex-start;
    border-radius: var(--slider_height);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.slider,
.ball,
.cross1,
.cross2 {
    transition: all 0.5s ease-in;

}

.ball {
    aspect-ratio: 1 / 1;
    background-color: rgb(231, 231, 231);
    border-radius: 100%;
    justify-content: center;
    padding: var(--ball_padding);
    position: relative;
}


.cross1,
.cross2 {
    height: var(--cross_thickness);
    border-radius: calc(var(--cross_thickness) / 2);
    background-color: black;
    width: calc(100% - 2 * var(--ball_padding));
    position: absolute;
    top: 50%;
}

.cross1 {
    transform: translateY(-50%) rotate(-45deg);
    background-color: yellow;
}

.cross2 {
    transform: translateY(-50%) rotate(45deg);
    background-color: red;
}

input:checked+label .slider {
    /* justify-content: end; */
    background-color: lightgreen;
}

input:checked+label .ball {
    transform: translateX(calc(var(--slider_width) - var(--slider_height)));
}

input:checked+label .cross1 {
    transform:
        translateY(-50%) rotate(45deg) translateY(calc((var(--slider_height) / 2 - var(--ball_padding) - var(--slider_padding)) * 0.866));


    width: calc((100% - 2 * var(--ball_padding)) / 2);
}

input:checked+label .cross2 {
    transform:
        /* translate(calc((100% - 2 * var(--ball_padding)) * 0.0067), -50%)*/
        translateY(-50%) rotate(135deg) translateY(calc(-0.5 * (var(--slider_height) / 2 - var(--slider_padding) - var(--ball_padding)) + (var(--cross_thickness) / 2))) translateX(calc((var(--cross_thickness) / 2 - var(--slider_padding) - var(--ball_padding)) * -0.134));
    /* translate(0, calc(-0.3 * (var(--slider_height) - 2 * var(--ball_padding) - 2 * var(--slider_padding))));*/
    width: calc((100% - 2 * var(--ball_padding)) * 0.866);
}

input {
    display: none;
}